@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

body {
  width: 375px;
  height: 560px;
  border: 1px solid red;
  padding: 20px;
  font-family: 'Piedra', cursive;
  color: rgb(37, 53, 33);
  font-size: 20px;

}
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

label img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
label .rock {
  transform: rotate(160deg);
}
label .scissors {
  transform: rotate(300deg);
}
label .paper {
  transform: translateY(10px);
}
.hide {
  display: none;
}
.show {
  display: block;
}

.container input {
  display: none;
}

/* 드로우 */
.drawRock .winRock {
  transform: rotate(210deg);
  width: 150px;
  position: absolute;
  top: 100px;
  left: 30px;
}
.drawRock .loseScissors {
 
  width: 100px;
  position: absolute;
  top: 250px;
  left: 200px;
  animation: .5s shaking forwards;
}
.winGame .winning-msg {
  display: inline-block;
  margin-top: 20px;
  z-index: 13;
}
.winGame .losing-msg {
  display: inline-block;
  position: absolute;
  top: 340px;
  left: 200px;
  
  animation: .5s shaking forwards;
}
/*draw Scissors*/
.drawScissors .winScissors {
  width: 150px;
}
.drawScissors .losePaper {
  width: 100px;
  transform: rotate(250deg);
  position: absolute;
  top: 230px;
  animation: .5s shaking forwards; 
}
/*draw Paper*/

.winPaper {
  width: 150px;
  transform: rotate(80deg);
  position: absolute;
  top:100px;
  left:50px;
}
.loseRock{
  width: 100px;
  position: absolute;
  top: 250px;
  left:200px;
  
  animation: .5s shaking forwards;
}

/* animation */

@keyframes shaking{
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.losing-msg{
  font-size: 25px;
  color: rgb(255, 208, 0);
  
}
